<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="top.woaibocai.eduservice.mapper.CourseMapper">
    <!--    CoursePublishVo getCoursePublishVoById(String id);-->
    <select id="getCoursePublishVoById" resultType="coursePublishVo">
        select
            ec.id,
            ec.title,
            ec.lesson_num AS lessonNum,
            ec.price,
            ec.cover,
            et.name AS teacherName,
            es1.title AS subjectLevelOne,
            es2.title AS subjectLevelTwo
        from
            edu_course ec
            left join edu_course_description ecd on ec.id=ecd.id
            left join edu_teacher et on ec.teacher_id=et.id
            left join edu_subject es1 on ec.subject_parent_id=es1.id
            left join edu_subject es2 on ec.subject_id=es2.id
        where
            ec.id=#{id}
    </select>
</mapper>
